/* Variables
$primary-color = #e8503e
$black = #010002
$firstColor = #2399D6
$secondColor = #2D9FB6
$thirdColor = #178C7F
*/
.page {
  background-color: #FEFEFE;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
  text-align: center;
  min-height: 400px;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 98vh;
  min-height: 400px;
  width: 500px;
  max-width: 80vw;
  min-width: 320px;
  margin: auto;
  text-align: left;
  margin-left: calc(50vw - 180px);
}
.page__center__title {
  font-size: 59px;
  font-weight: 700;
  letter-spacing: -13px;
  text-transform: uppercase;
  width: 100%;
  color: #010002;
  opacity: 0.7;
  line-height: 0.8;
}
.page__center__title.-m,
.page__center__title.-q,
.page__center__title.-e,
.page__center__title.-l,
.page__center__title.-m {
  color: #010002;
  opacity: 0.86;
  letter-spacing: -12px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.page__center__title.-a,
.page__center__title.-i,
.page__center__title.-u,
.page__center__title.-t {
  color: #010002;
  opacity: 0.97;
  letter-spacing: -16px;
  -webkit-transition: 0.15s all ease;
  transition: 0.15s all ease;
}
.page__center__title.-f,
.page__center__title.-r,
.page__center__title.-o,
.page__center__title.-r {
  color: #010002;
  opacity: 0.8;
  letter-spacing: -14px;
  -webkit-transition: 0.35s all ease;
  transition: 0.35s all ease;
}
.page__center__title__miquel,
.page__center__title__ferrer,
.page__center__title__llompart {
  cursor: none;
}
.page__center__title__miquel:hover .page__center__title {
  color: #2399D6;
  opacity: 0.8;
  cursor: none;
}
.page__center__title__ferrer:hover .page__center__title {
  color: #2D9FB6;
  opacity: 0.8;
  cursor: none;
}
.page__center__title__llompart:hover .page__center__title {
  color: #178C7F;
  opacity: 0.8;
  cursor: none;
}
.page__center__subtitle {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
  color: rgba(1, 0, 2, 0.7);
  text-align: left;
  width: 100%;
  line-height: 1.2;
  cursor: default;
  padding-top: 20px;
}
.page__center__social-icons {
  font-size: 25px;
  line-height: 2;
  font-size: 40px;
  text-align: left;
  width: 100%;
  cursor: default;
}
.page__center__social-icons__link {
  text-decoration: none;
  color: #010002;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
}
.page__center__social-icons__link.-mail {
  padding-top: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.8;
}
.page__center__social-icons__link:hover {
  text-decoration: none;
}
.page__center__social-icons__link__icon {
-webkit-transition: 0.3s all ease;
transition: 0.3s all ease;  
}
.icon-spotify:hover {
  color: #6AE368;
}
.icon-github-circled:hover {
  color: rgba(1, 0, 2, 0.5);  
}
.icon-linkedin-squared:hover {
  color: #4875B4;  
}
.icon-mail:hover {
  color: #2D9FB6;
}
.page__footer {
  height: 2vh;
  width: 100%;
}
.page__footer__first-color,
.page__footer__second-color,
.page__footer__third-color {
  height: 2vh;
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  position: absolute;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.page__footer__first-color {
 background-color: #2399D6;
 left: 0%;
 -webkit-animation: loading-first 7s infinite;
         animation: loading-first 7s infinite;
 -webkit-animation-timing-function: ease;
         animation-timing-function: ease;
}
.page__footer__second-color {
 background-color: #2D9FB6;
 left: 25%;
 -webkit-animation: loading-second 3.5s infinite;
         animation: loading-second 3.5s infinite;
 -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
}
.page__footer__third-color {
 background-color: #178C7F;
 left: 50%;
 -webkit-animation: loading-third 15s infinite;
         animation: loading-third 14s infinite;
 -webkit-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;

}
.page__footer:hover .page__footer__first-color {
  width: 100%;
  left: 0;
  opacity: 0.5;
}
.page__footer:hover .page__footer__second-color {
  width: 100%;
  left: 0;
  opacity: 0.5;
}
.page__footer:hover .page__footer__third-color {
  width: 100%;
  left: 0;
  opacity: 0.5;
}
@media(max-width: 600px) {
  .page__center {
    margin: auto;   
  }
  .page__center__title__miquel .page__center__title {
    color: #2399D6;
    opacity: 0.89;
  }
  .page__center__title__ferrer .page__center__title {
    color: #2D9FB6;
    opacity: 0.87;
  }
  .page__center__title__llompart .page__center__title {
    color: #178C7F;
    opacity: 0.85;
  }
}
@-webkit-keyframes loading-first {
  0% {
    left: 0%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 0%;
    width: 50%;
  }
}
@keyframes loading-first {
  0% {
    left: 0%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 0%;
    width: 50%;
  }
}
@-webkit-keyframes loading-second {
  0% {
    left: 25%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 25%;
    width: 50%;
  }
}
@keyframes loading-second {
  0% {
    left: 25%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 25%;
    width: 50%;
  }
}
@-webkit-keyframes loading-third {
  0% {
    left: 50%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 50%;
    width: 50%;
  }
}
@keyframes loading-third {
  0% {
    left: 50%;
    width: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    left: 50%;
    width: 50%;
  }
}
